[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rssa"]
	path = Rssa
	url = https://github.com/asl/rssa
[submodule "svd"]
	path = svd
	url = https://github.com/asl/svd
